body {
    font-family: "Lato", sans-serif;
    margin: auto 0px;
}

#header {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: fantasy;
    padding-top: 40px;
}

.navbar {
    display: inline-flex;
    background-color: black;
    color: #f2f2f2;
    width: 100%;
}

.navbar-item {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.navbar-item:hover {
    color: black;
    background-color: rgb(229, 226, 226);
    transition: all 0.5s;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    width: auto;
    text-align: left;
    float: left;
}

.dropdown-content a:hover {
    background-color: grey;
}
